<div class="container">
  <div class="content">
    <h1>{{ title }}</h1>
    <div class="form-group">
      <!-- Password input-->
      <div class="input-section">
        <label class="control-label" for="password-input"> Password </label>
        <input
          id="password-input"
          class="form-control"
          name="password"
          [type]="isShowPassword ? 'text' : 'password'"
          placeholder="Enter your password"
        />
        <span class="show-pass" (click)="togglePasswordVisibility()">
          <fa-icon [icon]="isShowPassword ? faEye : faEyeSlash"></fa-icon>
        </span>
      </div>

      <!-- Progress-->
      <div class="progress-section">
        <div id="password-strength-1" class="progress-bar"></div>
        <div id="password-strength-2" class="progress-bar"></div>
        <div id="password-strength-3" class="progress-bar"></div>
      </div>

      <!-- Password variants-->
      <div class="combination-section">
        <ul>
          <li>
            <span class="one-symbol">
              <fa-icon [icon]="faCircle" class="fa-circle"></fa-icon>
              &nbsp;Symbols (a-zA-Z)
            </span>
          </li>
          <li>
            <span class="one-number">
              <fa-icon [icon]="faCircle" class="fa-circle"></fa-icon>
              &nbsp;Number (0-9)
            </span>
          </li>
          <li>
            <span class="one-special-char">
              <fa-icon [icon]="faCircle" class="fa-circle"></fa-icon>
              &nbsp;Special Character (!@#$%^&*)
            </span>
          </li>
          <li>
            <span class="eight-character">
              <fa-icon [icon]="faCheck" size="lg" class="fa-check"></fa-icon>
              &nbsp;At least 8 Character
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
