<div class="container">
  <div class="content">
    <h1>{{ title }}</h1>
    <form class="form-group">
      <!-- Password input-->
      <div class="input-section">
        <label class="control-label" for="password-input"> Password </label>
        <input
          id="password-input"
          class="form-control"
          name="password"
          [type]="isShowPassword ? 'text' : 'password'"
          placeholder="Enter your password"
          appUsedCombinations
          (containAtLeastOneSpecialChar)="checkProgressCombinations($event)"
          (containAtLeastOneDigit)="checkProgressCombinations($event)"
          (containAtLeastOneLetter)="checkProgressCombinations($event)"
          (containAtLeastEightChars)="checkProgressCombinations($event)"
          (isEmpty)="checkProgressCombinations($event)"
        />
        <span class="show-pass" (click)="togglePasswordVisibility()">
          <fa-icon [icon]="isShowPassword ? faEye : faEyeSlash"></fa-icon>
        </span>
      </div>

      <!-- Progress-->
      <div class="progress-section">
        <div
          class="progress-bar"
          [ngClass]="{
            secondary: isEmpty,
            danger: easy && !isEmpty,
            warning: medium,
            success: strong
          }"
        ></div>
        <div
          class="progress-bar"
          [ngClass]="{
            secondary: isEmpty,
            danger: !isMinLength && !isEmpty,
            warning: medium,
            success: strong
          }"
        ></div>
        <div
          class="progress-bar"
          [ngClass]="{
            secondary: isEmpty,
            danger: !isMinLength && !isEmpty,
            success: strong
          }"
        ></div>
      </div>

      <!-- Password variants-->
      <div class="combination-section">
        <ul>
          <li>
            <span>
              <fa-icon
                [icon]="isLetters ? faCheck : faCircle"
                [class]="isLetters ? 'fa-check' : 'fa-circle'"
              ></fa-icon>
              &nbsp;Letters (a-zA-Z)
            </span>
          </li>
          <li>
            <span>
              <fa-icon
                [icon]="isDigits ? faCheck : faCircle"
                [class]="isDigits ? 'fa-check' : 'fa-circle'"
              ></fa-icon>
              &nbsp;Number (0-9)
            </span>
          </li>
          <li>
            <span>
              <fa-icon
                [icon]="isSymbols ? faCheck : faCircle"
                [class]="isSymbols ? 'fa-check' : 'fa-circle'"
              ></fa-icon>
              &nbsp;Special Character (!@#$%^&*)
            </span>
          </li>
          <li>
            <span>
              <fa-icon
                [icon]="isMinLength ? faCheck : faCircle"
                [class]="isMinLength ? 'fa-check' : 'fa-circle'"
              ></fa-icon>
              &nbsp;At least 8 Character
            </span>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
